<header>
  <div class="unit-meta">
    <div class="unit-meta__name">
        {{ app.unit.friendlyName }}
    </div>
    <div class="unit-meta__time">
        {{ app.time }}
    </div>
  </div>
  <div class="system-message">
    {{ app.message }}
  </div>
  <div class="hamburger">
    <span>|||</span>
  </div>
</header>
<main>
  
<table>
  <thead>
    <tr>
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>Δ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan=2 class="icon icon--gun"></td>
      <td>{{ app.gun.aTemp }}°</td>
      <td class="warning">{{ app.gun.bTemp }}°</td>
      <td>{{ app.gun.tempDelta }}°</td>
    </tr>
    <tr>
      <td>{{ app.gun.aPress }}</td>
      <td class="warning">{{ app.gun.bPress }}</td>
      <td>{{ app.gun.pressDelta }}</td>
    </tr>
  </tbody>
</table><table>
  <tbody>
  <tr>
    <td rowspan=2 class="icon icon--outlet"></td>
    <td>{{ app.outlet.aTemp }}°</td>
    <td>{{ app.outlet.bTemp }}°</td>
    <td>{{ app.outlet.tempDelta }}°</td> 
  </tr>
  <tr>
      <td class="warning">{{ app.outlet.aPress }}</td>
      <td>{{ app.outlet.bPress }}</td>
      <td>{{ app.outlet.pressDelta }}</td>
  </tr>
</tbody>
</table><table>
<tbody>
    <tr>
      <td rowspan=2 class="icon icon--inlet"></td>
      <td>{{ app.inlet.aTemp }}°</td>
      <td class="warning">{{ app.inlet.bTemp }}°</td>
      <td>{{ app.inlet.tempDelta }}°</td> 
    </tr>
    <tr>
        <td class="warning">{{ app.inlet.aPress }}</td>
        <td>{{ app.inlet.bPress }}</td>
        <td>{{ app.inlet.pressDelta }}</td>
    </tr>
    </tbody>
  </table>

</main>
<footer>
  <p>{{ app.cycles }}</p>
</footer>