/* styles in src/style directory are applied to the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
}

a {
  color: #03A9F4;
}

header {
  background-color: rgb(168, 168, 168);
  padding: 5px 10px;
  display: flex;
}

.unit-meta, .system-message, .hamburger {
  flex: 1;
}

.system-message {
  width: 60%;
  color: white;
  font-size: 2em;
  text-align: center;
}

.hamburger {
  font-size: 1.8em;
  text-align: right;
}
.hamburger span {
  transform: rotate(90deg);
}


main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  background-color: grey;
  position: fixed;

  width: 100%;
  padding: 5px 10px;
  bottom: 0;
}

table {
  width: 100%;
  font-size: 3em;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead, table td {
  text-align: left;
}

table tr:nth-child(odd) > td:not(.icon) {
  background-color: rgba(125, 125, 125, 0.4);
}

table tr:nth-child(even), table thead tr, table tr td.icon {
  background-color: transparent;
}

.icon {
  width: 140px;
  height: 110px;
  padding: 10px;
}

.icon--gun {
  background: url(../public/img/gun-icon.svg) no-repeat 0 0;
}

.icon--outlet {
  background: url(../public/img/outlet-icon.svg) no-repeat 0 0;
}

.icon--inlet {
  background: url(../public/img/inlet-icon.svg) no-repeat 0 0;
}

td.icon {
  width: 15%;
  margin-top: 10px;
}